*~
*.hi
*.o
/probability/.dir-locals.el
stack.yaml.lock
/fpearls/*.hi
/fpearls/*.o
/fpearls/minfree0
/fpearls/minfree1
/fpearls/minfree2
stack.yaml.lock
rpi/haskell/helloworld/helloworld
rpi/haskell/input_output/input_output
rpi/haskell/primes/primes
interactive/pyenv
iterators/.mypy_cache
pyenv
/*/py38
/*/__pycache__
blmean/blmean_lowlevel.exe
eqrw/z3py.py
gnss/hs/AAA-bbb/*
