*~
*.hi
*.o
/probability/.dir-locals.el
stack.yaml.lock
/fpearls/*.hi
/fpearls/*.o
/fpearls/minfree0
/fpearls/minfree1
/fpearls/minfree2
rpi/haskell/helloworld/helloworld
rpi/haskell/input_output/input_output
rpi/haskell/primes/primes
interactive/pyenv
iterators/.mypy_cache
pyenv
.venv
**/.ipynb_checkpoints
*/py38
**/__pycache__
blmean/blmean_lowlevel.exe
eqrw/z3py.py
databyte/.pyenv
python_examples/.venv
python_examples/random_bytes*.bin
gnss/hs/AAA-bbb/*
